<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>Django+MySQL</title>
        <meta charset="utf-8"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
    </head>
    <body>
        <h1 class="text-center">完了</h1>
        <!-- <form action="" class="text-center" method="GET">
            <input type="submit" value="初期画面へ" class="btn btn-primary">
        </form> -->
        <!-- urlを消去してホームに戻るには、{%url 'index' %}を利用する -->
        <a class="text-center" href="{% url 'index' %}"
        style="color: #fff;
        background: #5876a3;
        padding: 10px 30px;
        display: inline-block;
        border-radius: 5px;
        text-decoration: none;">ホームに戻る</a>
        
        
    </body>
</html>